@import 'nib'

body
	font-family: arial, helvetica, freesans, sans-serif
	font-size: 100%
	color: #333
	background-color: #ddd

.sheet
	position: relative
	width: 500px
	padding: 50px
	margin: 0 auto
	background-color: #fff
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1)

	&:before, &:after
		position: absolute
		width: 40%
		height: 10px
		content: ' '
		bottom: 12px
		background: transparent
		box-shadow 0 6px 12px rgba(0, 0, 0, 0.3)
		z-index: -1

	&:before
		left: 12px
		transform: skew(-5deg) rotate(-5deg)

	&:after
		left: auto
		right: 12px
		transform: skew(5deg) rotate(5deg)

