{{#this}}
<div class="song-section">
{{!-- Header --}}
{{#if header}}
<h2 class="header">{{human_header header}}</h2>
{{/if}}

{{#lines}}

{{!-- Chords and Lyrics --}}
{{#if_or lyrics chords}}
<table>
	<tr class="chords">
		{{#chords}}
		<td>{{transpose this}}</td>
		{{/chords}}
	</tr>
	{{#lyrics}}
	<tr class='lyrics'>
		{{#this}}
		<td>{{clean_lyrics this}}</td>
		{{/this}}
	</tr>
	{{/lyrics}}
</table>
{{/if_or}}

{{!-- Comments --}}
{{#if comments}}
<div class="comments">
  {{comments}}
</div>
{{/if}}

{{/lines}}

</div>
{{/this}}
