/*
 *  Project: opensong.js
 *  Description: displays OpenSong files nicely on a web page
 *  Author: Andreas Boehrnsen
 *  License: LGPL 2.1
 */

.opensong
	font-family:Verdana,sans-serif

	.comments
		font-style:italic
		font-size:0.8em

	table
		border-collapse: collapse
		white-space: pre

	td
		padding-left: 0px
		padding-right: 0px

	tr.chords td
		font-weight:bold
		font-size:1.0em

	tr.lyrics td
		font-size:1.0em

